<div class="topnav">
    <a href="/" class="active" aria-label="Home"><img src="/images/logo.png" alt="Home" /></a>
    <div class="topnav-content" id="header-bar-content">
        <a href="/">Home</a>
    </div>
    <a href="#" class="icon" onclick="navMenu()">Nav</a>
</div>