<div class="topnav">
    <div class="gutter"></div>
    <a href="/" class="active" aria-label="Home">
        <img src="/images/logo.png" alt="Home" />
        <div class="site-name">The IlliniFurs</div>
    </a>
    <div class="spacer"></div>
    <div class="topnav-content" id="header-bar-content">
        <div class="topnav-wrapper">
            <a href="/">Home</a>
        </div>
    </div>
    <a href="#" class="icon" onclick="navMenu()">Nav</a>
</div>  
<div class="color-bar"></div>