<div class="topnav">
    <div class="gutter"></div>
    <a href="/" class="active" aria-label="Home">
        <img src="/images/logo.png" alt="Home" />
        <div class="site-name">The IlliniFurs</div>
    </a>
    <div class="spacer"></div>
    <div class="topnav-content">
        <div class="topnav-wrapper">
            <a href="/chat">Chat</a>
        </div>
        <div class="topnav-wrapper">
            <a href="/events">Events</a>
        </div>
        <div class="topnav-wrapper">
            <a href="/about">About</a>
        </div>
    </div>
    <a href="#" class="icon" id="nav-button">Nav</a>
</div>  
<div class="color-bar"></div>