:root {
  --headbg:     #13294b;
  --headbglite: #1e3877;
  --headfg:     #ff5f05;

  --mainbg:     #13294b;
  --mainfg:     #f8fafc;
  --mainfglite: #ff5f05;

  --cardbg:     #f8fafc;
  --cardfg:     #13294b;

  --headfont: Trigot;
  --sectfont: 'Fjalla One', sans-serif;
  --mainfont: Montserrat, sans-serif;

  --headfontsize: 32px;
  --mainfontsize: 18px;
}

body {
  background-color: var(--mainbg);
  color: var(--mainfg);
  font-family: var(--mainfont);
  font-size: var(--mainfontsize);
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sectfont);
}

a {
  color: var(--mainfglite);
}

.topnav {
  background-color: var(--headbg);
  font-family: var(--headfont);
  font-size: var(--headfontsize);
  overflow: hidden;
  position: relative;
  text-align: left;
}

.topnav .gutter {
  width: 15vw;
  vertical-align: bottom;
  display: inline-block;
}

.topnav a.active {
  padding: 0 8px 0 0;
  vertical-align: bottom;
}

.topnav a > img {
  max-width: 60px;
  vertical-align: bottom;
  padding: 8px 16px;
  margin: 0 auto;
}

.topnav a > .site-name {
  margin: 0 auto;
  font-size: 32px;
  vertical-align: bottom;
  display: inline;
}

.topnav a {
  color: var(--headfg);
  padding: 14px 16px 0 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.topnav a:not(.active):hover, .topnav a:not(.active):focus {
  background-color: var(--headbglite);
}

.topnav a.icon {
  display: none;
  border-radius: 15px 5px;
}

.topnav-content {
  display: inline-block;
}

.topnav-content a {
  border-radius: 15px 15px 0 0;
  transition: ;
}

.color-bar {
  height: 4px;
  background-color: var(--headfg);
}

body.index-page {
  background-color: var(--headbg);
  color: var(--headfg);
}

.index-page .topnav {
  text-align: center;
}

.index-page .topnav .gutter, .index-page .topnav a, .index-page .color-bar, .index-page .topnav .spacer {
  display: none;
}

.index-page .topnav-content {
  margin: auto;
  position: relative;
}

.index-page .topnav-content a {
  border: 1px solid var(--headfg);
  border-radius: 15px 5px;
  display: block;
  margin: 2px;
  padding: 10px 16px 4px 16px;
}

.site-name {
  font-family: var(--headfont);
  color: var(--headfg);
  font-size: 144px;
}

.spacer {
  border-right: 1px solid var(--headfg);
  padding-left: 8px;  
  display: inline-block;
  height: 2ex;
}

@media screen and (max-width: 960px) {
  .topnav .gutter, .topnav .spacer, .topnav-content a, .index-page .topnav a.icon {
    display: none;
  }

  .topnav-content a {
    transition: 0.3s;
  }

  .topnav a.icon {
    border: 1px solid var(--headfg);
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 12px;
  }

  .topnav-wrapper {
    max-height: 0;
    font-size: 0;
    transition: 0.3s;
  }

  .topnav-content.responsive {
    display: inline-block;
    left: 0;
    position: relative;
    width: 100%;
  }

  .topnav-content.responsive .topnav-wrapper {
    max-height: 55px;
    font-size: var(--headfontsize);
    transition: 0;
  }

  .topnav-content.responsive a {
    display: block;
    float: none;
    padding: 10px 16px 4px 16px;
    border: 1px solid var(--headfg);
    border-radius: 15px;
    margin-bottom: 4px;
  }

  .index-page .topnav-wrapper {
    max-height: 55px;
    font-size: var(--headfontsize);
  }

  .index-page .topnav-content {
    width: 100%;
  }

  .index-page .topnav-content a {
    float: none;
    border-radius: 15px;
  }
}
