<!doctype html>

<html lang="en">
<head>
    <% creator = "@3xStan";
    url = "/500";
    page_title = "Error :( -- IlliniFurs";
    description = "Sorry! An unknown error occurred.";
    image_url = "/logo.png";
    head_scripts = null;
    stylesheets = null;
    tail_scripts = null; %>

    <%- include('../partials/head', {creator: creator, url: url, page_title: page_title, description: description, image_url: image_url, head_scripts: head_scripts, stylesheets: stylesheets}) %>
</head>

<body>
    <%- include('../partials/header') %>
 
    <div class="column left-gutter">
        &nbsp;
    </div>
    <div class="column middle">
        <h1>
            ERROR
        </h1>  
        <p>
            Sorry! An unknown error occurred. If an admin of this site sees the following, this might be able to help:
        </p>
        <div class="caption" style="width: max-content;">
            <%- error %>
        </div>
    </div>
    <div class="column right-gutter">
        &nbsp;
    </div>

    <%- include('../partials/tail', {tail_scripts: tail_scripts}) %>
</body>
</html>
