<!doctype html>

<html lang="en">
<head>
    <% creator = "@3xStan";
    url = "/";
    page_title = "IlliniFurs";
    description = "The IlliniFurs are a registered student organization at the University of Illinois.";
    image_url = "/logo.png";
    head_scripts = null;
    stylesheets = null;
    tail_scripts = null; %>

    <%- include('../partials/head', {creator: creator, url: url, page_title: page_title, description: description, image_url: image_url, head_scripts: head_scripts, stylesheets: stylesheets}) %>
</head>

<body class="index-page">
    <img src="/images/logo.png" style="max-width:80vw; margin: auto;" />
    <br />
    <br />
    <%- include('../partials/header') %>
    <% if (tail_scripts) {
        tail_scripts.forEach(function(script) { %>
            <script src="/js<%= script %>"></script> 
        <% }) %>
    <% } %>
</body>
</html>
